* {
    box-sizing: border-box;
}
:root {
    --brand-color: #6255e3;
}
body {
    background-color: #dedede;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.btn {
    font-size: 18px;
    border-radius: 3px;
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: rgba(98, 85, 227, .7);
    cursor: pointer;
}
.btn:hover {
    background-color: var(--brand-color);
}
.header {
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header .logo {
    width: 30px;
    margin-right: 20px;
}
.navigation {
    text-align: center
}
.navigation .nav-link {
    padding: 5px;
    text-decoration: none;
    color: black;
}
.navigation .nav-link:hover {
    font-weight: bold;
    color: var(--brand-color);
}
.navigation .nav-link.active {
    color: var(--brand-color);
    font-weight: bold;
}
.navigation .divider {
    margin: 0 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.main .wrapper {
    width: 40%;
    padding: 30px;
    border-radius: 3px;
    background-color: #fafafa;
}
.main .wrapper h1 {
    margin: 0 0 30px;
    text-align: center;
    color:  var(--brand-color);
}
.main .wrapper .form {
    display: flex;
    flex-direction: column;
}
.main .wrapper .form .btn {
    margin: 20px 0 0 auto;
}
.main .wrapper .form .input,
.main .wrapper .form .textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid gray;
    margin-top: 5px;
}
.main .wrapper .form .input {
    height: 40px;
    margin-bottom: 15px;
}
.main .wrapper .form .textarea {
    height: 100px;
}
.main .wrapper .form label {
    color: gray;
}
.main .wrapper .tasks-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main .wrapper .tasks-list .list-item {
    font-size: 20px;
    display: flex;
    align-items: center;
    color: gray;
}
.main .wrapper .tasks-list .list-item:not(:last-child) {
    margin-bottom: 10px;
}
.main .wrapper .tasks-list .list-item input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
}
.main .wrapper .tasks-list .list-item label {
    margin-left: 15px;
    cursor: pointer;
}
.main .wrapper .tasks-list .list-item label .description {
    font-size: 14px;
    margin-left: 10px;
}
.main .wrapper .tasks-list.completed .list-item {
    text-decoration: line-through;
}
.main .wrapper .tasks-list.completed .list-item .check-icn {
    width: 15px;
    margin-right: 20px;
}
.footer {
    padding: 10px;
    text-align: right;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    margin-left: 15px;
}

.tooltip .far {
    color: gray;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}